AddDefaultCharset utf-8

RewriteEngine On

RewriteRule ^([A-Za-z]+)$ 	?page=$1
RewriteRule ^([A-Za-z]+)/$  ?page=$1

RewriteRule ^([A-Za-z]+)/([A-Za-z-]+)$ 	?page=$1&item=$2
RewriteRule ^([A-Za-z]+)/([A-Za-z-]+)/$  ?page=$1&item=$2

RewriteRule ^([A-Za-z]+)/([A-Za-z-]+)/([A-Za-z0-9-]+)$ 	?page=$1&item=$2&subitem=$3
RewriteRule ^([A-Za-z]+)/([A-Za-z-]+)/([A-Za-z0-9-]+)/$    ?page=$1&item=$2&subitem=$3

ErrorDocument 404  /404.php
